:root {
    --responsive-font: clamp(1.5rem, 4vw, 2.5rem);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 247, 240);
    color: rgb(0, 0, 0);
}

p {
    font-size: 1.3rem;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    padding: 30px;
}

canvas {
    background: #fff;
    display: block;
    margin: 30px auto;
    border: 1px solid black;

}

.score-display {
    text-align: center;
    font-size: var(--responsive-font);
}

.exclamation {
    color: black;
}

.game-over-container {
    width: 50%;
    height: 100px;
    margin: auto;
}

.game-over {
    display: none;
    text-align: center;
    color: red;
    font-size: var(--responsive-font);
    padding: 1rem;
}

.button-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

button {
    font-size: var(--responsive-font);
    padding: 1rem;
    border-radius: 1rem;
}